<h2> New Contact Entry</h2>

<%= form_tag "/client/contacts", method: :post do %>
  <div>
    First Name: <input type="text" name="first_name" />
  </div>   <div>
    Middle Name: <input type="text" name="middle_name" />
  </div> 
  <div>
    Last Name : <input type="text" name="last_name" />
  </div>
   <div>
    City      : <input type="text" name="city" />
  </div>
 <div>
    Email     : <input type="text" name="email" />
  </div>
 <div>
    Cell Phone: <input type="text" name="cell_phone" />
  </div> 
  <div>
    Bio: <textarea name="bio" id="bio" cols="50" rows="10"></textarea>
  </div>
  <br>
  <input type="submit" name="" value="Create Contact" />
  <% end %>